// TODO Make Config useful
// Config
$primary-color: #333;

// // Libraries
@import 'lib/bootstrap/bootstrap.min', 'lib/bootstrap/bootstrap-theme.min';

// Partials
@import 'partials/_global';
@import 'partials/_navbar';
@import 'partials/_footer';


.navbar-default, .container-fluid
{
  background-color:#7BAFD4 !important;
  border-color: #7BAFD4 !important;
  fill: #7BAFD4 !important;;
}
.navbar-default .navbar-brand
{
  color: #fff;
}
.navbar-default, .navbar-nav>li>a
{
    color: #fff !important;
  }
